
<br>
<% @culinarystyles.each do |culinarystyle| %>
  <div class="col-sm-6 center">
    <h2><%= culinarystyle.name %></h2>
    <p><%= culinarystyle.description %></p>
    <%= link_to culinarystyle.name, culinarystyle_path(culinarystyle) %>
  </div>

<% end %>
<br><br>
<%= link_to "new", new_culinarystyle_path(@culinarystyle) %>

