.dish-card {
  width: 100%;
  h2 {
    text-transform: uppercase;
    font-size: 20px;
  }
  p {
    text-transform: downcase;

  }
}

.dish-card-polaroid {
  background: white;
  padding: 7px;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.dish-card-polaroid img {
  object-fit: cover;
  width: 100%;
}
